body {
    text-align: center;
    padding-bottom: 800px;
    margin: 0;
}



.para-in {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 500ppx
    color: azure;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#03fcec 0%, #fc03f0 100%);
    display: table;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: fantasy
    font-weight: 300;
}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: fantasy

}
p {
    padding-top: 500px;
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
    font-family: 'Noto Sans', sans-serif;
}
